body {}

.hero {
  height: 100vh;
  width: 100%;
  position: relative;
}

.hero:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.75);
  background: url('../images/hero.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero-content {
  backdrop-filter: blur(6px);
}

.hero-content .logo {
  width: 100px;
}

.about-section {
  min-height: 100vh;
  position: relative;
}

.about-section:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: url(../images/about-section.png) center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.about-section .gallery {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 300px);
  grid-gap: 15px;
  margin: 15px;
}

.about-section .gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.info-section {
  min-height: 100vh;
  background-color: #fafafa;
  position: relative;
  z-index: -2;
}

.info-section:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  filter: hue-rotate(50deg);
  background: url(../images/info-section.png) center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}

.floating-btn {
  right: 1.5rem;
  bottom: 1.5rem;
}

.floating-btn>img {
  max-width: 50px;
}

footer {
  background-color: #000;
  height: 20vh;
}